body {
    background-color: #EFF7FF;
    font-family: 'Newsreader', serif;
    font-size: 1.25rem;
    line-height: 2rem;
    color: #393939;
}

#content-main {
    padding: 10% 28%;
}

h1 {
    font-family: 'Inter', sans-serif;
    font-size: 1.25rem;
    line-height: 1.8rem;
}

ol {
    margin: 5% 0;
}

li {
    margin: 2% 0;
}

img {
    width: 160px;
    border-radius: 50%;
    margin: 5% 0;
}

a {
    color: #265CDA;
}

a:hover {
    animation: taadaa 2s infinite;

}

@keyframes taadaa { 
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

  #italic {
    font-style: italic;
  }

  @media only screen and (max-width: 1200px) {
    #content-main {
        padding: 10% 20%;
    }
    img {
        width: 120px;
    }
  }

  @media only screen and (max-width: 500px) {
    #content-main {
        padding: 10% 5%;
    }
    img {
        width: 120px;
    }
  }