@font-face{
font-family: WremenaLight;
src: url('files/WremenaLight.woff'), url('files/WremenaLight.woff') format('woff');}

body {
    padding: 5% 18%;
    font-family: "freight-big-pro", serif;
    font-weight: 300;
    font-size: 3.2rem;
    line-height: 4rem;
    color: #4A4A4A;
    background-color: white;
}

h1 {
    font-family: "freight-big-pro", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 3.2rem;
}

a {
  color: #4A4A4A;
  text-decoration-thickness: 2.5px;
}

a:hover {
    animation: taadaa 2s infinite;

}

@keyframes taadaa { 
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}