body {
    background-color: #fcfcfc;
    font-family: 'DM Sans', sans-serif;
    font-size: 1.1rem;
    line-height: 2rem;
    color: #636363;
}

#content-main {
    padding: 10% 30%;
}

h1 {
  font-family: 'DM Sans', sans-serif;
    font-size: 1.15rem;
    line-height: 2rem;
    color: #2b2b2b;
}

h2 {
  font-family: 'DM Sans', sans-serif;
    font-size: 1.15rem;
    line-height: 2rem;
    color: #2b2b2b;
}

ul {
    margin: 0 3%;
}

li {
    margin: 1% 0;
}

li::marker {
  font-size: 1.6rem;
}

img {
    width: 100px;
    border-radius: 3%;
    margin: 5% 0;
}

a {
  color: #A776F8;
}

a:hover {
    animation: taadaa 2s infinite;

}

hr {
  margin: 5% 0;
  border-top: 2px dotted #888888;
}

#callout {
    font-family: 'Newsreader', sans-serif;
    font-size: 2.4rem;
    line-height: 3.2rem;
    color: #636363;
}

@keyframes taadaa { 
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

  #italic {
    font-style: italic;
  }

  #highlight {
    background: linear-gradient(90deg, rgba(219,229,252,1) 35%, rgba(234,204,255,1) 100%);
  }

  #postscript {
    font-size: 0.8rem;
  }

  @media only screen and (max-width: 1200px) {
    #content-main {
        padding: 10% 20%;
    }
    img {
        width: 120px;
    }
  }

  @media only screen and (max-width: 500px) {
    #content-main {
        padding: 10% 5%;
    }
    img {
        width: 120px;
    }
  }